footer {
    background: #000 url('../../assets/images/bg_footer.png') no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer a {
    color: #fff;
}

footer h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
}

footer h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
}

footer a.btn-default {
    background: transparent !important;
    color: #fff !important;
    padding: 10px 35px;
    border: solid 2px #fff !important;
    border-radius: 20px;
    font-size: .9rem;
    font-weight: bold;
}

footer a.btn-default:hover {
    background: #ed1d23 !important;
    color: #fff !important;
    padding: 10px 35px;
    border: solid 2px #ed1d23 !important;
    border-radius: 20px;
    font-size: .9rem;
    font-weight: bold;
}

footer input[type='email'],
footer input[type='email']:focus {
    background-color: #000;
    outline: none !important;
}

.subtitle a{
    color: #666;
}

.text-copy {
    color: #666;
    font-size: .8rem;
}
