.mybutton{
  padding: 10px 35px !important;
  border-radius: 20px !important;
  font-size: 0.9rem !important;
  font-weight: bold;
  transition: 0.3s;
  width:fit-content  !important;
  margin:10px 0px;
  cursor: pointer;
}

.mybutton.btn-default {
  background: transparent !important;
  color: #fff !important;
  border: solid 2px #fff !important;
}

.mybutton.btn-default:hover {
  background: #ed1d23 !important;
  color: #fff !important;
  border: solid 2px #ed1d23 !important;
}

.mybutton.btn-primary {
  background: #ed1d23 !important;
  color: #fff !important;
  border: solid 2px #ed1d23 !important;
}

.mybutton.btn-primary:hover {
  background: #000 !important;
  color: #fff !important;
  border: solid 2px #fff !important;
}

.btn-secondary {
  background: #ed1d23 !important;
  color: #fff !important;
  border: solid 2px #ed1d23 !important;
}

@media screen and (max-width: 720px) {
  .mybutton { margin: -12px 0px 30px 0px; }

}