header {
  background-color: #000;
  color: #fff;
}

.navbar {
  font-family: "Lato", sans-serif;
  transition: 0.3s;
}
.navbar a {
  padding-left: 30px;
  color: #fff;
  border: solid 1px transparent;
}
.navbar li {
  padding-right: 30px;
  color: #fff;
  position: relative;
  top: -30px;
}
.navbar li a {
  padding: 5px 20px !important;
}

.navbar li a:hover {
  border: solid 1px #888;
  border-radius: 20px;
}

.navlink .active {
  border-top: solid 5px #ed1d23 !important;
}

.navbar .service-link{
  padding-left: 30px;
  color: #fff;
  border: solid 1px transparent;
}
.service-link{
  margin-top:-5px;
   padding: 5px 20px !important;
}

.service-link:hover {
  cursor: pointer;
  border: solid 1px #888;
  border-radius: 20px;
}