@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.home {
  /* background: #000; */
  /* padding-top: 30px !important; */
  color: #fff !important;
  /*background: #000 url('../../assets/images/landing_page_bg_screen_150dpi_v2.jpg') no-repeat;*/
  background-size: cover;
  width: 100vw;
  min-height: 150vh;
  background-position-x: -400px;
  background-position-y: 50px;
}

.home h3 {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 70px;
}

.carousel-caption{ position: static!important;}
.carousel-indicators { top: 468px!important }
.banner-t1{position: absolute; top: -1085px;}
.banner-t2{position: absolute; top: -305px;}
.home a.btn-default {
  background: transparent !important;
  color: #fff !important;
  padding: 10px 35px;
  border: solid 2px !important;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
}

.home a.btn-default:hover {
  background: #ed1d23 !important;
  color: #fff !important;
  padding: 10px 35px;
  border: none !important;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
}
.home-text-block {
  /*position: absolute;*/
  top: 0px;
  right: 200px;
  /* width: 400px; */
}

.block1 {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background: url('../../assets/images/cloud.png');
  animation: play 15.0s steps(300) infinite;
  position: absolute;
  top: 150px;
  left: 90px;
}

.block2 {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background: url('../../assets/images/server.png');
  animation: play 80.0s steps(300) infinite;
  position: absolute;
  left: 260px;
  top: 320px;
}

.block3 {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background: url('../../assets/images/server.png');
  animation: play 80.0s steps(300) infinite;
  position: absolute;
  left: -37px;
  top: 570px;
}

.block4 {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background: url('../../assets/images/micro_chip2.png');
  animation: playMicro 50.0s steps(410) infinite;
  position: absolute;
  right: 0;
  top: 700px !important;
}

.pentest {
  transition: ease-in-out 3s !important;
}

.pentest .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/penetration_2.png');
  animation: play 2s steps(1) infinite;
}

.pentest:hover .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/penetration_2.png');
  animation: play 30.0s steps(400) infinite;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.redteam {
  transition: 0.3s !important;
}

.redteam .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/red_team.png');
  animation: play 15.0s steps(1) infinite;
}

.redteam:hover .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/red_team.png');
  animation: play 30.0s steps(400) infinite;
}

.phishing {
  transition: 0.3s !important;
}

.phishing .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/phishing.png');
  animation: play 2s steps(1) infinite;
}

.phishing:hover .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/phishing.png');
  animation: play 30.0s steps(400) infinite;
}


.passaudit {
  transition: 0.3s !important;
}

.passaudit .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/password_audit.png');
  animation: play 2s steps(1) infinite;
}

.passaudit:hover .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/password_audit.png');
  animation: play 40.0s steps(400) infinite;
}

.threatmod {
  transition: 0.3s !important;
}

.threatmod .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/threat_modeling.png');
  animation: play 2s steps(1) infinite;
}

.threatmod:hover .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/threat_modeling.png');
  animation: play 40.0s steps(400) infinite;
}


.cybersec {
  transition: 0.3s !important;
}

.cybersec .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/cyber_security.png');
  animation: play 2s steps(1) infinite;
}

.cybersec:hover .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/cyber_security.png');
  animation: play 40.0s steps(400) infinite;
}

.inrep {
  transition: 0.3s !important;
}

.inrep .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/incident_response.png');
  animation: play 2s steps(1) infinite;
}

.inrep:hover .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/incident_response.png');
  animation: play 40.0s steps(400) infinite;
}


.secres {
  transition: 0.3s !important;
}

.secres .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/Artboards04.png');
  animation: play 2s steps(1) infinite;
}

.secres:hover .normal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: url('../../assets/images/Artboards04.png');
  animation: playSec 5s steps(106) infinite;
}

@keyframes play {
  100% { background-position: -120000px; }
}

@keyframes playSec {
  100% { background-position: -31800px; }
}
@keyframes playMicro {
  100% { background-position: -163999px; }
}

.approach h3 {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.approach h1::before {
  content: ".";
  display: block;
  background: url("../../assets/images/red_block.png") no-repeat;
  position: relative;
  top: 85px !important;
  left: -10px;
  z-index: -99;
  width: 200px;
  color: transparent !important;
}

.approach h1 {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  margin-top: 60px;
}

.approach h2 {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 60px;
}

.approach h2:before {
  content: "";
  display: block;
  border: solid 2px #ed1d23;
  width: 30px;
  position: relative;
  left: 0;
  top: -5px;
}

.canyon {
  background: url("../../assets/images/canyon.png") no-repeat;
  background-size: cover;
  min-height: 220px;
  margin: 50px 0px 0px;
  width: 100% !important;
}

.bg-service {
  background: #000 url("../../assets/images/bg_service.jpg") no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 100px;
  min-height: 100vh;
  width: 100%;
}

.canyon2 {
  background: url("../../assets/images/canyon.png") no-repeat;
  background-size: cover;
  min-height: 220px;
  /* margin:20px 0px; */
  width: 100% !important;
}


#bg-video {
  left: 0;
  padding: none;
  position: absolute;
  object-fit:cover;
  width: 100vw;
  height: auto !important;
}

.bg-testimonials ul li{
  display: inline-block;
}

.bg-testimonials ul li:nth-child(2){
  padding: 10px 150px;
}

.bg-testimonials img {
  position: relative;
  top: -80px;
}

.carousel-control-prev-icon::before {
   font-family: "FontAwesome";
   content: "\f053" !important;
   display: inline-block;
   /* padding-right: 3px;
   vertical-align: middle; */
   font-weight: 500;
   color:#ed1d23;
}

.carousel-control-next-icon::before {
  font-family: "FontAwesome";
  content: "\f054" !important;
  display: inline-block;
  /* padding-right: 3px;
  vertical-align: middle; */
  font-weight: 500;
  color: #ed1d23;
}


@media screen and (max-width: 720px) {

  .approach h3 {
    margin-top: 10px !important;
  }
  .bg-service {
    padding-left: 0px !important;
  }
  #bg-video {
    background-color: #000 !important;
    height: 200vh !important;
  }
  .bg-testimonials ul {
    width: 300px;
    margin: 0 auto;
  }
  .bg-testimonials ul li{
    display: inline-block;
  }

  ul.col-12.col-xs-12 {
    position: relative;
    left: -130px;
    font-size: .8rem;
  }

  .bg-testimonials ul li:nth-child(2){
    padding: 10px 150px;
  }

  li:nth-child(1),
  li:nth-child(3) {
    /* position: relative; */
    /* left: 250px; */
    display: none !important;
  }

  .bg-testimonials img {
    width: 30px;
    margin: 0;
  }

  video {
    display: none !important;
  }
  .home {
    /*background: #000 url("../../assets/images/Group1028@2x.png") no-repeat center center;*/
    background-size: contain;
    background-position-y: 80%;

  }
  .home h1 {
    font-size: 1.5rem;
  }

  .home h3 {
    position: relative;
    top: -30px !important;
    margin-bottom: 70px;
  }

  .bg-blog {
    background-color: #000 !important;
    background-image: none !important;
  }
  .home-text-block {
    position: initial;
  }
  .block1, .block2,
  .block3, .block4 {
    display: none !important;
  }

  .canyon {
    margin: 40px 0 0;
  }

  .carousel-indicators {
    top: 565px!important;
    display: none;
  }

  .banner-t1 {
    position: absolute;
    top: -390px;
    left: 158px;
  }

  .banner-t2 { display: none; }

  .mt-5, .my-5 { margin-top: 1rem!important; }

  .bg-service {
    background: #000;
    background-size: auto;
}

}
