.bg-career {
    background: #000 url('../../assets/images/bg-career.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    color: #fff;
    min-height: 220px;
    margin-bottom: 20px;
}
.bg-career h1 {
    padding-top: 70px;
}

.bg-contact h3::before {
    content: "";
    display: block;
    width: 30px;
    border: solid 2px red;
    position: relative;
    top: -10px;
}

input#name,
input#email,
select#business,
textarea#message {
    border: none !important;
    background: #c3c3c3;
    box-shadow: none !important;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 600px;
}


@media screen and (max-width: 720px) {
    .gmap_canvas {
        width: 100% !important;
    }
    .mapouter {
        width: 100% !important;
        margin-bottom: 50px !important;
    }

    .bg-contact-header {
        background-color: #000 !important;
        background-image: none !important;
    }
}